/* ==========================================================================
   系统页面框架布局
   ========================================================================== */

#loading-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  text-align: center;
  color: #222;
  background-color: #EEE;
}
#loading-mask .load-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  margin: -155px 0 0 -125px;
  text-shadow: 0 1px 1px white;
  color: #717171;
}
#loading-mask .load-img .load-logo,
#loading-mask .load-img .loading {
  display: block;
}
#loading-mask .load-img .loading {
  margin-top: 100px;
}
#loading-mask .load-img .loading img {
  width: 80px;
}
#glb_loading {
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: middle;
  text-align: center;
  z-index: 9997;
  color: #555;
  padding: .2em .6em;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: #F0C36D;
  background-color: #F9EDBE;
  position: fixed;
  top: 0;
  left: 47%;
  min-width: 100px;
}
/* ==========================================================================
   utils Style: 实用工具
   ========================================================================== */
.relative {
  position: relative;
}
a:hover,
a:focus {
  text-decoration: none !important;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.djb-info {
  height: 480px;
  padding: 10px;
  overflow: auto;
}
.djb-info .grid-person .k-grid-content,
.djb-info .grid-land .k-grid-content {
  height: 150px;
}
.cursor {
  cursor: pointer;
}
#cursor-dialog {
  position: absolute;
}
.k-widget,
.k-button {
  box-shadow: none;
}
/* ==========================================================================
   flow Style: Flow组建样式�?
   ========================================================================== */
/* ==========================================================================
    名称：ylt-default
    描述：鱼鳞图产权产籍默认主题
    作者：Mr.L
    版本�?.1.0
   ========================================================================== */
/* Grid */
/* form */
/* s-header */
/* flow */
/* dialog */
/* notify */
/* progress */
/* search */
/* shortcut */
/* treeview */
/* upload */
/* window */
/* navbar */
/* change */
.diamond {
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
:root .diamond {
  filter: none\9;
}
.flow {
  line-height: 1.35em;
  padding-left: 2%;
}
.flow .diamond {
  height: 16px;
  width: 17px;
  background: #ffffff;
  position: absolute;
  left: -9px;
  left: -8px\9;
  border-top: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  top: 3px;
  top: 0\9;
  z-index: 4;
}
.flow .diamond-next {
  left: auto;
  border: none;
  background: #f6f6f6;
  right: -10px;
  right: -7px\9;
  *right: -16px;
  *z-index: 5;
  border-top: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}
.flow-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left;
  padding: 4px 0;
  text-align: center;
  line-height: normal;
  width: 321px;
  margin-right: 5px;
  border: 1px solid #cfcfcf;
  border-left: 0\0;
  position: relative;
  background: #f6f6f6;
}
.flow-item-done {
  border-color: #d9eb9f;
  background: #fbffee;
}
.flow-item-done .diamond {
  border-color: #d9eb9f;
  background: #ffffff;
}
.flow-item-done .diamond-next {
  display: block;
  background: #fbffee;
  border-color: #d9eb9f;
}
.flow-item-current {
  background: #6ab303;
  border-color: #589803;
  color: #ffffff;
  font-weight: bold;
}
.flow-item-current .diamond {
  border-color: #589803;
}
.flow-item-current .diamond-next {
  background: #6ab303;
}
.flow-item-last {
  margin-right: 0;
}
.flow-item-last .diamond-next {
  display: none;
}
.flow-item-first .diamond {
  display: none;
}
.flow-item-first .diamond-next {
  display: block;
}
.flow-item-head {
  color: #333;
}
.flow-item-menu {
  position: absolute;
  top: 35px;
  color: #333;
  line-height: 36px;
  left: 0\9;
}
:root .flow .diamond {
  top: 3px\9;
}
:root .flow .diamond-next {
  right: -10px\9;
}
.flow-item-1 {
  z-index: 5;
}
.flow-item-2 {
  z-index: 4;
}
.flow-item-3 {
  z-index: 3;
}
.flow-item-4 {
  z-index: 2;
}
.flow-item-5 {
  z-index: 1;
}
.flow-5 {
  height: 150px;
}
.flow-5 .flow-item,
.flow-item-menu {
  width: 150px;
}
/* ==========================================================================
   form Style: From表单组建样式�?
   ========================================================================== */
textarea {
  width: 195px;
  resize: none;
}
textarea.k-textbox:hover {
  border: 0;
}
textarea.form-control,
input.form-control,
.input-group,
.k-textbox,
.k-datepicker,
.k-dropdown,
.k-combobox,
.k-numerictextbox,
.k-timepicker {
  width: 210px;
}
.k-window .form-control {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
}
.k-dropdown-wrap .k-input:hover,
.k-picker-wrap .k-input:hover,
.k-numeric-wrap .k-input:hover,
.k-autocomplete .k-input:hover {
  border: 0;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  margin-bottom: 0;
}
input[type="checkbox"],
input[type="radio"] {
  border: 1px solid #999999;
  border: 0\0;
  vertical-align: top;
  margin: 0 5px 0 0;
}
label {
  font-weight: normal;
}
.btn {
  cursor: pointer;
}
.btn .fa {
  margin: 0 5px 0 0;
  font-size: 13px;
}
.btn .text {
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
  line-height: 1.3;
}
.btn.btn-primary {
  min-width: 60px;
}
.k-button .k-icon {
  margin: -3px 2px 0 0;
}
.form-group {
  margin-bottom: 10px;
}
span.form-control {
  border: 0;
  box-shadow: none;
}
.form-control {
  box-sizing: border-box;
}
.mark {
  padding-left: 5px;
}
.page-header {
  margin: 0 0 20px 0;
  padding-top: 10px;
  border-bottom: 2px solid #d5d5d5;
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5,
.page-header h6 {
  margin: 0;
  font-weight: bold;
  color: #666666;
}
.page-grid-header {
  padding: 10px 0 0 0;
  border-bottom: 2px solid #d5d5d5;
}
.page-grid-header h1,
.page-grid-header h2,
.page-grid-header h3,
.page-grid-header h4,
.page-grid-header h5,
.page-grid-header h6 {
  margin: 0 0 10px 0;
  font-weight: bold;
  color: #666666;
}
/* ==========================================================================
   notify Style�?Pnotify组建样重定义
   ========================================================================== */
.ui-pnotify {
  left: 50%;
  top: 95px !important;
  margin-left: -150px;
  z-index: 11000;
}
.ui-pnotify.map-normal-pnotify {
  top: 145px !important;
  margin-left: 0;
  text-align: center;
}
.ui-pnotify.map-full-pnotify {
  top: 60px !important;
  text-align: center;
}
.ui-pnotify.stack-bottomright {
  /* 以图管地全屏状态notify */
  bottom: 25px !important;
  top: auto !important;
}
.ui-pnotify.stack-bar-top {
  margin-left: -375px;
}
.ui-pnotify .ui-pnotify-container {
  padding: .5em;
}
.ui-pnotify .ui-pnotify-container .ui-pnotify-icon > span {
  line-height: 20px;
}
.ui-pnotify .ui-pnotify-container .ui-pnotify-closer,
.ui-pnotify .ui-pnotify-container .ui-pnotify-sticker {
  line-height: 16px;
}
.ui-pnotify .ui-pnotify-container .watch-detail {
  margin-left: 10px;
}
.ui-pnotify .ui-pnotify-container .message-body {
  margin-left: 20px;
}
.ui-pnotify.custom .ui-pnotify-container {
  background: #404040 !important;
  border: none !important;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.ui-pnotify.custom .ui-pnotify-title,
.ui-pnotify.custom .ui-pnotify-text {
  font-size: 10pt !important;
  color: #ffffff !important;
  padding-left: 50px !important;
  line-height: 1 !important;
  text-rendering: geometricPrecision !important;
}
.ui-pnotify.custom .ui-pnotify-title {
  font-weight: bold;
}
.ui-pnotify.custom .ui-pnotify-icon {
  float: left;
}
.ui-pnotify.custom .picon {
  margin: 3px;
  width: 33px;
  height: 33px;
}
/* Alternate stack initial positioning. This one is done through code,
		to show how it is done. Look down at the stack_bottomright variable
		in the JavaScript below. */
.ui-pnotify.stack-bottomright {
  /* These are just CSS default values to reset the pnotify CSS. */
  right: auto;
  top: auto;
  left: auto;
  bottom: auto;
}
.ui-pnotify.stack-custom {
  /* Custom values have to be in pixels, because the code parses them. */
  top: 200px;
  left: 200px;
  right: auto;
}
.ui-pnotify.stack-custom2 {
  top: auto;
  left: auto;
  bottom: 200px;
  right: 200px;
}
/* This one is totally different. It stacks at the top and looks
		like a Microsoft-esque browser notice bar. */
.ui-pnotify.stack-bar-top {
  margin: 0 auto;
  right: 0;
  top: 0;
}
.ui-pnotify.stack-bar-bottom {
  margin-left: 15%;
  right: auto;
  bottom: 0;
  top: auto;
  left: auto;
}
.ui-pnotify-text {
  padding-right: 30px;
}
/* ==========================================================================
   search Style: 高级搜索组建样式�?
   ========================================================================== */
.wnd-high-search .select-group {
  padding: 10px;
  background: #eeeeee;
  border-bottom: 1px solid #dddddd;
}
.wnd-high-search .form-control,
.wnd-high-search .k-datepicker,
.wnd-high-search .k-dropdown,
.wnd-high-search .k-combobox,
.wnd-high-search .k-numerictextbox,
.wnd-high-search .k-timepicker {
  width: 180px;
}
/* ==========================================================================
   grid Style: KendoUI中grid重定�?
   ========================================================================== */
.k-grid {
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.k-grid.grid-chk .k-grid-content td:first-child input {
  vertical-align: middle;
  margin-top: -5px;
}
.k-grid .k-grid-header .k-header {
  border: none;
  font-weight: bold;
}
.k-grid .k-grid-content td {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  border: none;
}
.k-grid .k-grid-content td input[type="checkbox"] {
  margin-top: 4px;
}
.k-grid .k-state-selected .handle-button > a {
  color: inherit;
}
.k-grid .k-state-selected .handle-button > a:hover {
  background-color: #ffffff;
  color: #428bca;
  text-decoration: none;
}
.k-grid .handle-button > a {
  margin-right: 5px;
  padding: 2px;
  cursor: pointer;
}
.k-grid .handle-button > a:hover {
  background-color: #428bca;
  color: #ffffff;
  text-decoration: none;
}
.k-grid .handle-button > a.danger:hover {
  background-color: #ff0000;
  color: #ffffff;
}
.k-grid .handle-button .dropdown-toggle {
  color: #428bca;
  cursor: pointer;
  padding: 1px;
  margin-top: 2px;
  line-height: normal;
}
.k-grid .handle-button .dropdown-toggle:hover {
  background-color: #428bca;
  color: #ffffff;
}
.k-grid .handle-button .dropdown-menu {
  min-width: 100px;
  padding-top: 5px;
}
.k-grid .handle-button .dropdown-menu a:hover,
.k-grid .handle-button .dropdown-menu a:focus {
  background-color: #428bca;
}
.k-grouping-header,
.k-grid-toolbar {
  padding: 3px;
  background: #ffffff;
}
.k-grouping-header .k-dropdown-wrap,
.k-grid-toolbar .k-dropdown-wrap {
  background: #ffffff;
}
.k-toolbar label {
  margin: 5px 0 0 0;
}
.k-toolbar .k-dropdown-wrap .k-input {
  padding: 2px;
}
.k-toolbar .k-dropdown-wrap .k-select {
  line-height: 1.8em;
}
.k-pager-wrap {
  padding: .2em;
  background: none;
}
.k-pager-wrap .k-state-selected {
  width: 1.8em;
  height: 1.8em;
  background: #3ea400;
  color: #ffffff;
}
.k-pager-wrap .k-pager-numbers .k-link {
  width: 1.8em;
  height: 1.8em;
  color: #333333;
}
.k-pager-wrap > .k-link {
  width: 1.8em;
  height: 1.8em;
  line-height: 1.6em;
}
.k-pager-wrap .k-dropdown .k-input,
.k-pager-wrap .k-dropdown .k-select {
  padding: 1px;
}
.s-pager {
  border-width: 1px 0 0 0;
  border-style: solid;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 5px;
}
.grid-large.k-grid td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
}
.grid-form {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.grid-form .k-grid-header,
.grid-form .k-grid-header-wrap {
  border: none;
}
.blank-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fafafa;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.blank-page .blank-info {
  position: relative;
  top: 50%;
  display: block;
  font-size: 18px;
}
.blank-page .blank-action {
  position: relative;
  top: 50%;
  display: block;
  margin-top: 5px;
}
.blank-page .blank-action .btn {
  padding: 15px 30px;
}
/* ==========================================================================
   navtab Style: Tab组建样式�?
   ========================================================================== */
.s-navtab {
  height: 100%;
  margin: 0;
  padding-top: 20px;
  background: #fafafa;
}
.s-navtab li {
  list-style: none;
}
.s-navtab a {
  color: #666666;
  display: block;
  margin-bottom: 5px;
  padding: 6px 20px;
  text-align: right;
  cursor: pointer;
  border-right: 3px solid transparent;
}
.s-navtab a:hover {
  border-right: 3px solid #54c11a;
  color: #2f973f;
}
.s-navtab .active > a {
  background: #54c11a;
  border-top: 1px solid #2f973f;
  border-bottom: 1px solid #2f973f;
  color: #ffffff;
}
/* 增强Bootstrap Tab菜单 */
.s-tabs .nav-pills {
  height: 100%;
  min-width: 90px;
  background: #fafafa;
  border-right: 1px solid #dddddd;
  padding: 20px 0 0;
  margin: 0;
}
.s-tabs .nav-pills > li {
  position: relative;
  cursor: pointer;
}
.s-tabs .nav-pills > li.active > a {
  background: #54c11a;
  border-top: 1px solid #2f973f;
  border-bottom: 1px solid #2f973f;
  color: #ffffff;
}
.s-tabs .nav-pills > li.active:hover > a {
  background: #54c11a;
  border-top: 1px solid #2f973f;
  border-bottom: 1px solid #2f973f;
  color: #ffffff;
}
.s-tabs .nav-pills > li.active .badge {
  padding: 2px 5px;
  background: #e81515;
  color: #ffffff;
}
.s-tabs .nav-pills > li > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  color: #666666;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 5px 10px;
}
.s-tabs > .tab-content {
  margin-left: 130px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.s-tabs > .tab-content .tab-pane {
  position: relative;
}
.s-tabs .badge {
  padding: 2px 5px;
  background: #e81515;
  color: #ffffff;
  box-sizing: border-box;
}
/* ==========================================================================
   treeview Style: 地域树样式包
   ========================================================================== */
#sidebar .nested-list {
  position: relative;
  height: 100%;
}
#sidebar .nested-list .breadcrumb {
  margin: 0;
  background: transparent;
}
#sidebar .nested-list .breadcrumb .active {
  color: #000000;
}
#sidebar .nested-list .breadcrumb .active a {
  font-weight: bold;
}
#sidebar .nested-list .breadcrumb a {
  color: #333333;
}
#sidebar .nested-list .breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #333333;
}
#sidebar .nested-list .breadcrumb > li {
  min-width: 50px\0;
  text-align: center;
  margin-bottom: 2px;
}
#sidebar .nested-list .list {
  border-top: 1px solid #ffffff;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#sidebar .nested-list .list .item {
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-left: 5px;
  margin: 0;
}
#sidebar .nested-list .list .item a {
  display: block;
  padding: 4px;
  color: inherit;
}
#sidebar .nested-list .list .item .totalCount {
  margin: 5px;
  display: inline-block;
}
#sidebar .nested-list .list .k-state-hover {
  background-color: #ebebeb\0;
  border-color: #adadad\0;
}
#sidebar .nested-list .list .k-state-hover > .k-link {
  color: #333333;
}
#map-sidebar .breadcrumb {
  margin: 0;
  background: transparent;
}
#map-sidebar .breadcrumb .active {
  color: #000000;
}
#map-sidebar .breadcrumb .active a {
  font-weight: bold;
}
#map-sidebar .breadcrumb a {
  color: #333333;
}
#map-sidebar .breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #333333;
}
#map-sidebar .breadcrumb > li {
  min-width: 50px\0;
  text-align: center;
  margin-bottom: 2px;
}
#map-sidebar .list {
  margin: 0;
  padding: 5px;
}
#map-sidebar .list > .item {
  float: left;
  padding: 0 5px;
}
#map-sidebar .list .k-state-hover,
#map-sidebar .list .k-state-selected {
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#map-sidebar .list .k-link {
  background: none;
  color: #0088cc;
}
.nested-list-choser .breadcrumb {
  margin: 0;
  background: transparent;
  border: 1px solid #dddddd;
  padding: 5px 7px;
}
.nested-list-choser .breadcrumb .active {
  color: #000000;
}
.nested-list-choser .breadcrumb .active a {
  font-weight: bold;
}
.nested-list-choser .breadcrumb a {
  color: #333333;
}
.nested-list-choser .breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #333333;
}
.nested-list-choser .breadcrumb > li {
  min-width: 50px\0;
  text-align: center;
  margin-bottom: 2px;
}
.nested-list-choser .list {
  border-top: 1px solid #ffffff;
  margin: 0;
  padding: 0;
  overflow: auto;
  border: none;
  height: 80%;
}
.nested-list-choser .list .item {
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-left: 5px;
  margin: 0;
}
.nested-list-choser .list .item a {
  display: block;
  padding: 4px;
  color: inherit;
}
.nested-list-choser .list .item .totalCount {
  margin: 5px;
  display: inline-block;
}
.nested-list-choser .list .k-state-hover {
  background-color: #ebebeb\0;
  border-color: #adadad\0;
}
.nested-list-choser .list .k-state-hover > .k-link {
  color: #333333;
}
.fn-zone-content {
  /* 箭头方向 */
}
.fn-zone-content .breadcrumb {
  line-height: normal;
}
.fn-zone-content .breadcrumb > li {
  float: left;
  position: relative;
  height: 21px;
  overflow: hidden;
  line-height: 21px;
  padding: 0px 7px 0px 0;
}
.fn-zone-content .breadcrumb > li > a {
  color: #0088cc;
  text-decoration: underline;
}
.fn-zone-content .breadcrumb > li.zone-current > a {
  font: normal normal bold 14px normal;
  color: #000000;
  text-decoration: none;
}
.fn-zone-content .breadcrumb .dropdown-list {
  height: 21px;
  line-height: 21px;
  cursor: pointer;
  width: 6px;
  display: block;
  font-size: 18px;
  float: right;
  margin: 1px 0 0 5px;
}
.fn-zone-content .zone-list {
  z-index: 2001;
  line-height: normal;
  width: 250px;
  height: 150px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.35);
  position: absolute;
  display: none;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}
.fn-zone-content .zone-list .item {
  background-color: transparent;
  border: none;
  float: left;
}
.fn-zone-content .zone-list .item .k-link {
  color: #0088cc;
  text-decoration: underline;
}
.fn-zone-content .zone-list .item.k-state-hover {
  background: none;
  border: none;
}
.fn-zone-content .zone-list .item.k-content {
  margin: .1em .5em 0 0;
  float: left;
  font-size: 12px;
}
.fn-zone-content .zone-list:after {
  position: absolute;
  top: -10px;
  right: auto;
  bottom: auto;
  left: 16px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  content: '';
  display: inline-block;
}
.fn-zone-content .zone-list:before {
  position: absolute;
  top: -11px;
  right: auto;
  bottom: auto;
  left: 15px;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #cccccc;
  border-bottom: 11px solid transparent;
  content: '';
  display: inline-block;
}
/* ==========================================================================
   upload Style: 上传组建样式�?
   ========================================================================== */
.wnd_cus_upload .k-info-colored {
  padding: 10px;
}
.wnd_cus_upload .k-grid-content {
  height: 272px;
}
.wnd_cus_upload .fn-process {
  font-size: 20px;
  color: #009900;
  margin-left: 5px;
}
.wnd_cus_upload .frm_upload {
  margin: 0;
}
.wnd_cus_upload .frm_upload .k-upload {
  float: left;
}
.wnd_cus_upload .frm_upload .k-dropzone {
  padding: 0;
}
.wnd_cus_upload .frm_upload .k-upload-status-total {
  display: none;
}
.wnd_cus_upload .frm_upload .k-upload-files {
  overflow: auto;
  height: 180px;
}
.wnd_cus_upload .frm_upload .status-process {
  position: absolute;
  top: auto;
  right: 10px;
  bottom: 0;
  left: auto;
  padding: 20px;
}
.upload-log {
  height: 390px;
  padding: 5px;
  overflow: auto;
}
.k-upload .k-progress {
  background-color: #54c11a;
}
.k-upload .k-upload-status-total {
  color: #54c11a;
}
/* ==========================================================================
   window Style: KendoUI中window重定�?
   ========================================================================== */
.k-window {
  border-color: #aaaaaa;
  /* kendoui window添加、编辑窗口重定义 */
}
.k-window .k-window-titlebar {
  font-weight: bold;
  padding: 10px 0;
  background: #ffffff;
  border-bottom: 2px solid #00d300;
}
.k-window .k-window-titlebar .k-window-title {
  overflow: visible;
  color: #666666;
}
.k-window .k-window-titlebar .k-window-actions {
  top: 4px;
}
.k-window .win-loading {
  position: relative;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
  width: 60px;
  display: block;
  margin: -16px auto 0 auto;
}
.k-window .k-window-content {
  overflow: hidden;
  visibility: visible !important;
  padding: 0;
}
.k-window .k-window-content .k-edit-form-container {
  padding: 10px;
}
.k-window .k-window-content .k-grid-cancel {
  float: right;
  margin-bottom: 10px;
}
.k-window .k-window-content .k-grid-update {
  float: right;
  margin-bottom: 10px;
}
.k-window .k-footer {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #cccccc;
  background: #fafafa;
  text-align: right;
  padding: 10px;
}
.k-overlay {
  background: #ffffff;
}
/* ==========================================================================
   Shortcut Styles：快速样式包
   ========================================================================== */
.ffyh {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53';
}
.pt0 {
  padding-top: 0 !important;
}
.pt2 {
  padding-top: 20px !important;
}
.pl5 {
  padding-left: 5px;
}
/*#region 外边�?*/
.mb0 {
  margin-bottom: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt1 {
  margin-top: 10px !important;
}
.mt2 {
  margin-top: 20px !important;
}
.mt3 {
  margin-top: 30px !important;
}
.mt4 {
  margin-top: 40px !important;
}
.ml1 {
  margin-left: 10px !important;
}
.mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mr1 {
  margin-right: 10px !important;
}
.mr20 {
  margin-right: 20px;
}
.ml0 {
  margin-left: 0;
}
.mb2 {
  margin-bottom: 20px;
}
.ml-5 {
  margin-left: -5px;
}
/*#endregion */
.tar {
  text-align: right;
}
.s-left {
  float: left;
}
.pull-right {
  float: right !important;
}
.il {
  display: inline-block;
}
.required {
  font-weight: bold;
}
.required:before {
  content: '*';
  color: #ff0000;
  margin-right: 5px;
  display: inline-block;
}
.gray {
  color: #909090;
}
.italic {
  color: #909090;
  font-style: italic;
}
.table-title {
  background: #eee;
}
.ds {
  background: #000000;
  position: absolute;
  z-index: 2;
  top: 0;
  overflow: hidden;
}
.db {
  display: block;
}
.h1 {
  height: 1px;
}
.h2 {
  height: 2px;
}
.h3 {
  height: 3px;
}
.h4 {
  height: 4px;
}
.h5 {
  height: 5px;
}
.h300 {
  height: 300px;
}
.v1 {
  width: 1px;
}
.v2 {
  width: 2px;
}
.v3 {
  width: 3px;
}
.v4 {
  width: 4px;
}
.v5 {
  width: 5px;
}
.w5 {
  width: 50px;
}
.wh200 {
  width: 200px;
  height: 200px;
}
.bd1s {
  border-style: solid;
  border-width: 1px;
}
.o1 {
  opacity: .05;
  filter: alpha(opacity=5);
}
.o2 {
  opacity: .04;
  filter: alpha(opacity=4);
}
.o3 {
  opacity: .03;
  filter: alpha(opacity=3);
}
.o4 {
  opacity: .02;
  filter: alpha(opacity=2);
}
.o5 {
  opacity: .01;
  filter: alpha(opacity=1);
}
.hidden {
  display: none !important;
}
/* ==========================================================================
   scrollbar Styles：Google Chrome浏览器下滚动条样式包
   ========================================================================== */
::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  border-style: solid;
  border-color: transparent;
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
  background-clip: padding-box;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 28px;
  padding-top: 100;
}
::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  border-width: 0;
}
::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-track:active {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  background-color: rgba(0, 0, 0, 0.05);
}
/* ==========================================================================
   s-header Style: 标题组建样式定义
   ========================================================================== */
.s-header {
  padding: 5px 0 0 0;
  border-bottom: 3px solid #3ea400;
}
.s-header .s-title {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 13px;
  padding: 7px 10px 2px;
  color: #999999;
  background: #ffffff;
}
.s-header .s-title.active {
  background: #3ea400;
  color: #ffffff;
}
.s-header .s-title .s-count {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font: normal normal bold 18px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 5px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}
.s-currzone {
  margin: 5px 20px 0 0;
}
.s-currzone .display-zone {
  color: #009900;
}
.s-currzone .select-zone {
  margin: 0 0 0 5px;
  color: #0098ff;
}
/* ==========================================================================
   progress Style: 进度条组建样式包
   ========================================================================== */
.progress {
  height: 13px;
  width: 80%;
  border: 1px solid #c5c5c5;
  overflow: visible;
  margin: 0;
  padding: 1px;
}
.progress .progress-text {
  line-height: 14px;
  float: right;
  margin-right: -27px;
}
/* ==========================================================================
   dialog Style：Dialog组建样式�?
   ========================================================================== */
.msgBox {
  padding: 4px 10px;
  position: fixed;
  z-index: 15000;
  width: 430px;
  min-height: 160px;
  background: #ffffff;
  box-shadow: 1px 1px 7px 1px #bebebe;
  -moz-box-shadow: 1px 1px 7px 1px #bebebe;
  -webkit-box-shadow: 1px 1px 7px 1px #bebebe;
}
/* msgBox遮罩�?*/
.msgBoxBackGround {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.9;
  z-index: 14900;
}
/* msgBox标题 */
.msgBoxTitle {
  padding: 5px 0;
  font: normal small-caps lighter 16pt normal;
  color: #00335e;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
/* msgBox图片 */
.msgBoxImage {
  display: inline-block;
  float: left;
  margin: 20px 5px 0 5px;
  height: 75px;
  width: 75px;
}
.msgBoxImage img {
  height: 75px;
  width: 75px;
}
.msgBoxContent {
  font-size: 11pt;
  display: inline-block;
  float: left;
  margin: 0 3px 6px 3px;
  height: 90px;
  width: 319px;
}
.msgBoxContent p {
  padding: 0;
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
}
.msgBoxContent span {
  display: table-cell;
  vertical-align: middle;
  color: #00335e;
}
/* Content class for IE7*/
.msgBoxContentIEOld {
  font-size: 11pt;
  display: inline-block;
  float: left;
  margin: 0 3px 6px 3px;
  height: 90px;
  width: 319px;
  position: relative;
}
.msgBoxContentIEOld p {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
}
.msgBoxContentIEOld span {
  position: relative;
  top: -50%;
}
/* Content class for IE7*/
.msgBoxButtons {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.msgBoxButtons input[type='button'] {
  margin: 2px;
  height: 35px;
  width: 90px;
  outline: none;
  text-shadow: none;
}
/* ==========================================================================
   verify Style: 验证组建样式�?
   ========================================================================== */
.k-invalid {
  background: #fff8a9;
  border-color: #cf4c35;
  border-width: 2px;
}
.k-widget.k-tooltip-validation {
  position: absolute;
  z-index: 5;
  line-height: 28px;
  padding: 0;
  left: -10px;
  top: 0;
  background: transparent;
  border: 0;
  font-size: 18px;
  color: #cf4c35;
}
.k-dropdown .k-tooltip-validation {
  left: -24px;
}
